:root {
  --header-background-color: #fff;
  --primary-color: #444442;
  --secondary-color: #53607c;
  --overlay-color: rgb(0, 0, 0, 0.7);
  --text-color: #2d3d60;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Catamaran", sans-serif;
  line-height: 1.6;
  font-size: 1.1rem;
  padding-top: 80px;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

h1,
h2,
h3,
h4 {
  line-height: 1.3;
}

a {
  color: var(--secondary-color);
  text-decoration: none;
}

a:focus {
  outline: none;
  box-shadow: 0 0 3px var(--primary-color);
}

img {
  width: 100%;
}

.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
}

.btn:focus {
  outline: none;
  box-shadow: 0 0 3px var(--primary-color);
}

/**ISLOADING**/

.loading_body {
  margin: 0;
  margin-top: -80px;
  padding: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

.loading {
  width: 200px;
  height: 200px;
  box-sizing: border-box;
  border-radius: 50%;
  border-top: 10px solid #ff4d4d;
  position: relative;
  animation: a1 2s linear infinite;
}

.loading::before,
.loading::after {
  content: "";
  width: 200px;
  height: 200px;
  position: absolute;
  left: 0;
  top: -10px;
  box-sizing: border-box;
  border-radius: 50%;
}

.loading::before {
  border-top: 10px solid #ff9f1a;
  transform: rotate(120deg);
}

.loading::after {
  border-top: solid 10px #17c0eb;
  transform: rotate(240deg);
}

.loading span {
  position: absolute;
  width: 200px;
  height: 200px;
  color: var(--primary-color);
  text-align: center;
  line-height: 200px;
  animation: a2 2s linear infinite;
}

@keyframes a1 {
  to {
    transform: rotate(360deg);
  }
}

@keyframes a2 {
  to {
    transform: rotate(-360deg);
  }
}

/** HEADER **/

.navbar {
  position: fixed;
  width: 100%;
  height: 70px;
  top: 0px;
  font-size: 1.2rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  background-color: var(--header-background-color);
  color: var(--text-color);
}

.navbar .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.navbar .logo-container {
  display: flex;
  align-items: center;
  justify-content: left;
}

.navbar .logo-container .logo-img {
  height: 60px;
  width: auto;
}

.navbar .logo-container .logo {
  font-size: 2rem;
  padding-left: 1rem;
  margin: 0;
}

.navbar .search-form {
  width: 100%;
  justify-self: center;
  display: inline-block;
  position: relative;
  border-radius: 10px;
  line-height: 0;
  margin-top: 0;
  border: 1px solid var(--primary-color);
}

.search-form .form-control {
  display: inline-block;
  border: 0;
  outline: 0;
  font-size: 1rem;
  margin: 0;
  padding: 0 3rem 0 1.5rem;
  width: 100%;
  height: 40px;
}

.search-form .btn {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  font-size: 1rem;
  text-align: center;
  margin: 0;
  padding: 0;
  outline: none;
  outline-style: none;
  border: none;
  cursor: pointer;
}

.navbar .nav {
  justify-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.navbar .nav a {
  padding: 0 1rem;
  color: var(--primary-color);
}

.navbar .nav a:hover {
  color: var(--secondary-color);
}

.navbar .nav .cart_count {
  position: absolute;
  top: 0;
  right: 0;
  background: var(--primary-color);
  color: white;
  padding: 0 0.5rem;
  border-radius: 50%;
  width: 1.8rem;
  height: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar .nav .cart_count p {
  text-align: center;
  width: 1.8rem;
  height: 1.8rem;
  margin: 0;
  padding: 0;
}

/**SECTION**/

section .container {
  margin-bottom: 3rem;
}

.section-a {
  margin: 3rem auto;
  width: 50rem;
}

.section-a img {
  height: 20rem;
  width: auto;
}

.section-b img {
  height: 15rem;
}

.section-b .category-wrapper {
  margin: 25px 0;
}
.section-b .row {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 15px;
  background: #fff;
}
.section-b .row .col-md-3 {
  margin: 1rem 0;
}
.section-b .container a h3 {
  font-weight: bolder;
}

.section-b .card {
  height: 100%;
}
.section-b .card .face {
  transition: 0.5s;
}

.section-b .card .face.face1 {
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.section-b .card .face.face2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 7rem;
}

.section-b .card .face.face2 a {
  display: inline-block;
  border: none;
  outline: none;
  text-decoration: none;
  font-weight: 900;
}

.section-b .card .face.face2 .btn {
  background: none;
  color: var(--primary-color);
  font-weight: 600;
  border: none;
}

.section-b .card .face.face2 .btn:hover {
  font-weight: 800;
}

.section-b .card .face.face2 .name_label {
  width: 12rem;
}

.section-b .card .face.face2 .price_label {
  width: 8rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.section-b .card .face.face2 i {
  color: var(--primary-color);
}

.section-b .card .face.face2 i:hover {
  color: var(--secondary-color);
}

/*SECTION-ITEM */
.section-item .container {
    display: grid;
    grid-template-columns: repeat(2,3fr) 2fr;
}

.section-item .container .image-container{
    margin: 0;
    padding: 0;
    width: 100%;
    display:flex;
    flex-direction: column;
}

.section-item .container .image-container .images {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-item .container .image-container .images .image {
    width: 25%;
    overflow: hidden;
    border: 1px solid var(--primary-color);
}

.section-item .container .image-container .images .image img {
    width:100%;
    border:none;
}

.section-item .container .description-container {
    padding: 3rem;
    display: inline-block;
}

.section-item .container .item-sidebar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    background: #ce5f31;
    color: whitesmoke;
    border-radius: 7%;
}
.price-label h3{
    text-align: center;
}

.quantity-form, .addCart-form, .buyNow-form {
    width: 100%;
    display: inline-block;
    position: relative;
    border-radius: 20px;
    line-height: 0;
    margin-top: 2rem;
    outline: 0
}

.quantity-form, .buyNow-form {
    background-color: var(--primary-color);
}

.quantity-form .form-control {
    display: inline-block;
    border: 0;
    outline: 0;
    color: whitesmoke;
    background-color: transparent;
    font-family: inherit;
    margin: 0;
    padding:0 3rem 0 3rem;
    width: 100%;
    height: 45px;
    border-radius: 20px;
    text-align: center;
}

.quantity-form .btn-decrease, .btn-increase {
    display: inline-block;
    position: absolute;
    top: 0;
    width: 45px;
    height:45px;
    background-color: whitesmoke;
    font-size: 1rem;
    text-align: center;
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    color: var(--primary-color);
    cursor: pointer;
}

.quantity-form .btn-decrease {
    border-radius: 20px 0px 0px 20px;
    left:0;
}

.quantity-form .btn-increase {
    right: 0;
    border-radius: 0 20px 20px 0;
}

.addCart-form .btn-addCart, .btn-buyNow {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 1rem;
    outline: 0;
    border: 0;
    cursor: pointer;
    color: whitesmoke;
    background-color: transparent;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
}

.addCart-form .btn-addCart p {
    font-size: 1rem;
    padding-left: 10px;
    margin: auto 0;
}

.addCart-form .btn-addCart:hover{
    font-weight: 600;
}


.buyNow-form .btn-buyNow p {
    font-size: 1rem;
    padding-left: 10px;
    margin: auto 0;
}

.buyNow-form .btn-buyNow:hover {
    font-weight: 600;
    text-decoration: none;
    color: whitesmoke;
}